.navbarContainer {
    width: 100%;
    height: 60px;
    padding-bottom: 1rem;
    background: #ffffff;
    box-shadow: 0 0 1px 1px;
    margin-bottom: 40px;
  }
  
  .navbarMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    list-style: none;
  }
  
  .navbarMenu li {
    cursor: pointer;
    display: block;
    height: 100%;
    margin-right: 35px;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  
  .navbarMenu li:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    bottom: 5%;
  }
  
  .navbarMenu li:hover::after {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }