.headerContainer {
    width: 100%;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 13, 13);
  }
  
  .title {
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }