.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .text {
    color: rgb(115, 172, 162);
    font-size: 1rem;
  }